<!--The content below is only a placeholder and can be replaced.-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.3/ace.js"></script>


<div class="text-left">
    <nav class="navbar navbar-light bg-dark">
        <span class="navbar-brand mb-0 h1">
            <h1 id="logo" class="text-white display-2">
                PairItUp
            </h1>
        </span>
        <h1 *ngIf="curr_user" (click)='getHtml()' class="display-4">Welcome
            <span class="text-capitalize display-4 text-white">{{curr_user.name}}</span>
        </h1>
    </nav>
</div>
<div class="container-12 p-3 row">
    <div class="col-10" id="container">
        <app-editor></app-editor>
    </div>

    <div class="col-2" id="messaging">
        <div id="chatroom">
            <h1 class="display-5">Chat Room </h1>
            <div id="window">
                <div id="output">
                    <div id="message" *ngFor="let message of all_messages">
                        <span class="text-right">{{ message.data.name}} said: {{ message.data.message}}</span>
                    </div>
                </div>
            </div>
            <form (submit)="getMessage()">
                <div class="input-group mb-3" id="inputTextArea">
                    <textarea name="messages.message" [(ngModel)]="messages.message" class="form-control" id="chat_msg" aria-label="With textarea"
                        cols="100"></textarea>
                    <div class="input-group-append">
                        <button type="submit" id="send" class="btn btn-outline-secondary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>